<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="WebApp_ID" version="2.4">
  <display-name>employeeservlet</display-name>
  <servlet>
    <display-name>EmployeeServlet</display-name>
    <servlet-name>EmployeeServlet</servlet-name>
    <servlet-class>com.servlets.EmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeServlet</servlet-name>
    <url-pattern>/EmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>SearchEmployeeServlet</display-name>
    <servlet-name>SearchEmployeeServlet</servlet-name>
    <servlet-class>com.servlets.SearchEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchEmployeeServlet</servlet-name>
    <url-pattern>/SearchEmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>DisplayEmployees</display-name>
    <servlet-name>DisplayEmployees</servlet-name>
    <servlet-class>com.servlets.DisplayEmployees</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayEmployees</servlet-name>
    <url-pattern>/DisplayEmployees</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>UpdateEmployeeServlet</display-name>
    <servlet-name>UpdateEmployeeServlet</servlet-name>
    <servlet-class>com.servlets.UpdateEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateEmployeeServlet</servlet-name>
    <url-pattern>/UpdateEmployeeServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>